@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
}

.filament {
    --primary-color: #1e90ff; /* Blue theme */
    --secondary-color: #000000; /* Black theme */
}

.filament-header {
    background-color: #1e90ff; /* Blue header */
    color: #ffffff; /* White text */
}
